SUPABASE_URL=https://rgxymrfpspmurfgsyyvq.supabase.co

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2b2h4b2twcXV2aXF6aGdqZnlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTU4NzMsImV4cCI6MjA5MzM3MTg3M30.i3XJ6LVLEljPA8yi0prhhrO9alf7b0wDyptTjWS9lE8

GEMINI_API_KEY=AIzaSyBbsC57UjoDwHCw2JfEAlO3cL8vcpvKmFM

JWT_SECRET=53d901ceaf2b6d123d4b07ab965ce072e9c1e330f47501b010838b5ae52e93fa

